@import "breakpoints";

/************** Features Section Coloring ***************/

// coloring used in section
.features {
    background-color: $darkBlueMainBG;
}

/************** Features Layout Build ***************/

// type of layout 
.features-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 30px;


    @include breakpoint(regular) {
        grid-template-columns: 1fr 1fr;

    }

}

/************** Features Section Styling ***************/

// item var placement 
.features-container .item {
    text-align: center;
    width: 87%;
    margin: 40px;

    @include breakpoint(regular) {
        width: 70%;
    }
}

// item img sizes
.features-container img {
    width: 25%;    
    
    @include breakpoint(regular) {
        width: 25%;
    }
}

/************** Features Section Content ***************/

// h3 styling
.features-container h3 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    color: $white;
    padding: 8px;

}

// p styling
.features-container p {
    font-family: $secondaryFont;
    color: $white;
    font-size: 14px;

    @include breakpoint(medium) {
        font-size: 15px;
    }

}

/************** End Of Feature Section  ***************/


/************** Description Section Coloring  ***************/

// coloring used in section
.description {
    background-color: $darkBlueMainBG;
    color: $white;
}

/**************  Description Content Styling  ***************/

// Img col positioning
.col-md-7 img { 
    margin: auto;
    margin-bottom: 30px;
    margin-top: 75px;
    padding-top: 5px;
    display: flex;
    width: 100%;
    max-width: 420px;



    @include breakpoint(large){
        max-width: 90%; 

    }

    @include breakpoint(xlarge){
        max-width: 95%;

    }
}
// col positioning
.col-md-7 {
    @include breakpoint(large){
        right: 30px;
    }

    @include breakpoint(xlarge){
        right: 100px;
    }
}

// content col positioning
.col-md-5 {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(regular){
        bottom: 22px;
        margin-top: 75px;
    }

    @include breakpoint(large){
        right: 40px;
        padding-bottom: 80px;
    }

    @include breakpoint(xlarge){
        right: 80px;
        padding: 60px 15px 116px 15px;


    }
}

// h2 styling 
.col-md-5 h2 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;


    @include breakpoint(micro){
        font-size: 22px;
        margin-bottom: 20px;
    }

    @include breakpoint(regular){
        font-size: 26px;
        text-align: start;
        margin-bottom: 16px;
        padding-top: 80px;
    }

    @include breakpoint(large){
        font-size: 30px;
        text-align: start;
        margin-bottom: 0px;
    }

    @include breakpoint(xlarge){
        font-size: 36px;
    }


}

// p styling
.col-md-5 p {
    font-family: $secondaryFont;
    font-size: 14px;
    text-align: start;
    margin: 0px 0px 15px 7px;

    @include breakpoint(micro){
        margin: 0px 0px 20px 14px;

    }

    @include breakpoint(regular){
        margin: 0px 0px 8px 5px;
        
    }

    @include breakpoint(large){
        margin: 0px 0px 0px 0px;
    }

    @include breakpoint(xlarge){
        margin: 15px 5px 5px 0px;
        font-size: 15.5px;
    }
}

// a styling W/ Hover
.col-md-5 a {
    color: $cyan;
    font-size: 12px;
    text-align: start;
    margin: 0px 0px 50px 7px;
    background-image: url(./images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-bottom: 1px solid $cyan;
    width: 36%;
    transition: all 300ms ease-in-out;

    &:hover {
        color: $white;
        border-bottom: 1px solid $white;   
    }
    
    @include breakpoint(micro){
        margin: 0px 0px 50px 14px;
        width: 32%;
    }

    @include breakpoint(small){
        margin: 0px 0px 50px 11px;
    }

    @include breakpoint(regular){
        margin: 0px 0px 50px 5px;
        width: 45%;
    }

    @include breakpoint(large){
        margin: 0px 0px 0px 0px;
        width: 34%;
    }

    @include breakpoint(xlarge){
        margin: 7px 0px 0px 0px;
        font-size: 14.5px;
    }

}


/************** End Of Description Section  ***************/


/************** Team Section Coloring  ***************/

// coloring / fonts used in Team section

.team {
    font-family: $secondaryFont;
    background-color: $darkBlueMainBG;
    color: $white;
}

.col-md-4 {
    background-color: $darkBlueTestimonialBG;

}

// quote styling 
.quote {
    height: 20px;
}

// global col-md-4 styling 
.col-md-4 {
    padding: 25px 15px 20px 15px;
    margin: 0px 15px 30px 15px;
    border-radius: 5px;


   @include breakpoint(regular){
       
   }
}

// P1 and Profile 1 styling 
.p1 {
    font-size: 14px;
}

.profile1 {
    max-height: 35px;
    border-radius: 50%;
}

// P2 and Profile 2 styling
.p2 {
    font-size: 14px;
    border-radius: 50%;
}

.profile2 {
    max-height: 35px;
    border-radius: 50%;
}

// P3 and Profile 3 styling
.p3 {
    font-size: 14px;
}

.profile3 {
    max-height: 35px;
    border-radius: 50%;
}