@import "breakpoints";

/************** Features Section Coloring ***************/

// coloring used in section
.features {
    background-color: $darkBlueMainBG;
}

/************** Features Layout Build ***************/

// type of layout 
.features-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 30px;


    @include breakpoint(regular) {
        grid-template-columns: 1fr 1fr;

    }

}

/************** Features Section Styling ***************/

// item var placement 
.features-container .item {
    text-align: center;
    width: 87%;
    margin: 40px;

    @include breakpoint(regular) {
        width: 70%;
    }
}

// item img sizes
.features-container img {
    width: 25%;    
    
    @include breakpoint(regular) {
        width: 25%;
    }
}

/************** Features Section Content ***************/

// h3 styling
.features-container h3 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    color: $white;
    padding: 8px;

}

// p styling
.features-container p {
    font-family: $primaryFont;
    color: $white;
    font-size: 14px;

    @include breakpoint(medium) {
        font-size: 15px;
    }

}

/************** End Of Feature Section  ***************/


/************** Description Section Coloring  ***************/

// coloring used in section
.description {
    background-color: $darkBlueMainBG;
    font-family: $primaryFont;
    color: $white;
}

/**************  Description Content Styling  ***************/

// Img col positioning
.col-md-7 img { 
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 5px;
    display: flex;
    width: 100%;
    max-width: 420px;



    @include breakpoint(large){
        max-width: 90%; 

    }

    @include breakpoint(xlarge){
        max-width: 95%;

    }
}
// col positioning
.col-md-7 {
    @include breakpoint(large){
        right: 30px;
    }

    @include breakpoint(xlarge){
        right: 100px;
    }
}

// content col positioning
.col-md-5 {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(large){
        right: 40px;
        padding-bottom: 80px;
    }

    @include breakpoint(xlarge){
        right: 80px;
        padding: 60px 15px 116px 15px;


    }
}

// h2 styling 
.col-md-5 h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;


    @include breakpoint(micro){
        font-size: 22px;
        margin-bottom: 20px;
    }

    @include breakpoint(regular){
        font-size: 26px;
        text-align: start;
        margin-bottom: 16px;
        padding-top: 80px;
    }

    @include breakpoint(large){
        font-size: 30px;
        text-align: start;
        margin-bottom: 0px;
    }

    @include breakpoint(xlarge){
        font-size: 36px;
    }


}

// p styling
.col-md-5 p {
    font-size: 14px;
    text-align: start;
    margin: 0px 0px 15px 7px;

    @include breakpoint(micro){
        margin: 0px 0px 20px 14px;

    }

    @include breakpoint(regular){
        margin: 0px 0px 8px 5px;
        
    }

    @include breakpoint(large){
        margin: 0px 0px 0px 0px;
    }

    @include breakpoint(xlarge){
        margin: 15px 5px 5px 0px;
        font-size: 15.5px;
    }
}

// a styling W/ Hover
.col-md-5 a {
    color: $cyan;
    font-size: 12px;
    text-align: start;
    margin: 0px 0px 50px 7px;
    text-decoration: underline;
    text-underline-position: under;

    @include breakpoint(micro){
        margin: 0px 0px 50px 14px;
    }

    @include breakpoint(small){
        margin: 0px 0px 50px 5px;
    }

    @include breakpoint(large){
        margin: 0px 0px 0px 0px;
    }

    @include breakpoint(xlarge){
        margin: 7px 0px 0px 0px;
        font-size: 14.5px;
    }

}

.col-md-5 a:hover {
    color: $white;
}

/************** End Of Description Section  ***************/