html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.wrapper {
  padding: 25px 20px 50px 20px;
  background: #1c2431 url(/images/bg-curvy-mobile.svg) no-repeat;
  background-size: contain;
  background-position: bottom center;
}

@media screen and (min-width: 899px) {
  .wrapper {
    background: #1c2431 url(/images/bg-curvy-desktop.svg) no-repeat;
    background-size: contain;
    background-position: bottom center;
  }
}

@media screen and (min-width: 999px) {
  .wrapper {
    padding: 52px 80px;
  }
}

.wrapper .nav-brand img {
  width: 95px;
}

@media screen and (min-width: 499px) {
  .wrapper .nav-brand img {
    width: 150px;
  }
}

@media screen and (min-width: 999px) {
  .wrapper .nav-brand img {
    width: 180px;
  }
}

@media screen and (min-width: 1399px) {
  .wrapper .nav-brand img {
    width: 200px;
  }
}

/**************  Nav Bar Positioning ***************/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  min-height: 9vh;
}

/************** Nav Link Positioning ***************/
.navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  word-wrap: none;
  padding-bottom: 12px;
}

@media screen and (min-width: 699px) {
  .navbar-items {
    max-width: 37%;
  }
}

@media screen and (min-width: 899px) {
  .navbar-items {
    max-width: 33%;
  }
}

@media screen and (min-width: 999px) {
  .navbar-items {
    max-width: 30%;
  }
}

@media screen and (min-width: 1399px) {
  .navbar-items {
    max-width: 20%;
  }
}

/************** Basic Nav Link Styling ***************/
.navbar-items a {
  color: white;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin-top: 16px;
}

@media screen and (min-width: 499px) {
  .navbar-items a {
    font-size: 15.5px;
  }
}

@media screen and (min-width: 699px) {
  .navbar-items a {
    font-size: 17px;
  }
}

@media screen and (min-width: 899px) {
  .navbar-items a {
    font-size: 17.5px;
  }
}

@media screen and (min-width: 999px) {
  .navbar-items a {
    font-size: 19.5px;
  }
}

.navbar-items a:hover {
  color: #65e2d9;
  text-decoration: underline;
}

/************** End Of Nav  ***************/
/************** Hero Positioning ***************/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

/************** Hero img Styling ***************/
.hero-img {
  color: #ffffff;
}

.hero-img img {
  width: 100%;
  max-width: 716px;
}

/************** Hero Content Styling  ***************/
.hero-text {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.hero-text h1 {
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 70%;
}

.hero-text p {
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  width: 45%;
}

.hero-text button {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  background-color: #65e2d9;
  border-radius: 20px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 70px;
  margin-bottom: 5rem;
}

/************** End Of Hero  ***************/
/*# sourceMappingURL=style.css.map */