html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.wrapper {
  padding: 25px 20px 50px 20px;
  background: #1c2431 url(../scss/images/bg-curvy-mobile.svg) no-repeat;
  background-size: contain;
  background-position: bottom center;
}

@media screen and (min-width: 899px) {
  .wrapper {
    background: #1c2431 url(../scss/images/bg-curvy-desktop.svg) no-repeat;
    background-size: contain;
    background-position: bottom center;
  }
}

@media screen and (min-width: 999px) {
  .wrapper {
    padding: 52px 80px;
  }
}

.wrapper .nav-brand img {
  width: 95px;
}

@media screen and (min-width: 499px) {
  .wrapper .nav-brand img {
    width: 150px;
  }
}

@media screen and (min-width: 999px) {
  .wrapper .nav-brand img {
    width: 180px;
  }
}

@media screen and (min-width: 1399px) {
  .wrapper .nav-brand img {
    width: 200px;
  }
}

/**************  Nav Bar Positioning ***************/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  min-height: 9vh;
}

/************** Nav Link Positioning ***************/
.navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  word-wrap: none;
  padding-bottom: 12px;
}

@media screen and (min-width: 699px) {
  .navbar-items {
    max-width: 37%;
  }
}

@media screen and (min-width: 899px) {
  .navbar-items {
    max-width: 33%;
  }
}

@media screen and (min-width: 999px) {
  .navbar-items {
    max-width: 30%;
  }
}

@media screen and (min-width: 1399px) {
  .navbar-items {
    max-width: 20%;
  }
}

/************** Basic Nav Link Styling ***************/
.navbar-items a {
  color: white;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin-top: 16px;
}

@media screen and (min-width: 499px) {
  .navbar-items a {
    font-size: 15.5px;
  }
}

@media screen and (min-width: 699px) {
  .navbar-items a {
    font-size: 17px;
  }
}

@media screen and (min-width: 899px) {
  .navbar-items a {
    font-size: 17.5px;
  }
}

@media screen and (min-width: 999px) {
  .navbar-items a {
    font-size: 19.5px;
  }
}

.navbar-items a:hover {
  color: #65e2d9;
  text-decoration: underline;
}

/************** End Of Nav  ***************/
/************** Hero Positioning ***************/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

/************** Hero img Styling ***************/
.hero-img {
  color: #ffffff;
}

.hero-img img {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  max-width: 716px;
}

/************** Hero Content Styling  ***************/
.hero-text {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

@media screen and (min-width: 499px) {
  .hero-text h1 {
    font-size: 26px;
  }
}

@media screen and (min-width: 699px) {
  .hero-text h1 {
    font-size: 27.5px;
    max-width: 80%;
  }
}

@media screen and (min-width: 899px) {
  .hero-text h1 {
    font-size: 30px;
    max-width: 70%;
  }
}

@media screen and (min-width: 999px) {
  .hero-text h1 {
    font-size: 35px;
    max-width: 75%;
  }
}

@media screen and (min-width: 1399px) {
  .hero-text h1 {
    font-size: 40px;
    max-width: 55%;
  }
}

.hero-text p {
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
}

@media screen and (min-width: 499px) {
  .hero-text p {
    font-size: 15px;
    max-width: 85%;
  }
}

@media screen and (min-width: 699px) {
  .hero-text p {
    font-size: 16px;
    max-width: 82%;
  }
}

@media screen and (min-width: 899px) {
  .hero-text p {
    font-size: 16.5px;
    max-width: 60%;
  }
}

@media screen and (min-width: 999px) {
  .hero-text p {
    font-size: 17px;
    max-width: 60%;
  }
}

@media screen and (min-width: 1399px) {
  .hero-text p {
    font-size: 18.5px;
    max-width: 45%;
  }
}

.hero-text button {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #65e2d9;
  border-radius: 20px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 50px;
  margin-bottom: 5rem;
}

@media screen and (min-width: 699px) {
  .hero-text button {
    padding: 9px 60px;
    font-size: 16px;
  }
}

@media screen and (min-width: 899px) {
  .hero-text button {
    padding: 10px 70px;
    font-size: 17px;
  }
}

/************** End Of Hero  ***************/
.features {
  background-color: #181f2a;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 699px) {
  .features-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.features-container .item {
  text-align: center;
  width: 87%;
  margin: 40px;
}

@media screen and (min-width: 699px) {
  .features-container .item {
    width: 70%;
  }
}

.features-container img {
  width: 25%;
}

@media screen and (min-width: 699px) {
  .features-container img {
    width: 25%;
  }
}

.features-container h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  padding: 8px;
}

.features-container p {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

@media screen and (min-width: 899px) {
  .features-container p {
    font-size: 15px;
  }
}

/************** End Of Feature Section  ***************/
.description {
  background-color: #181f2a;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.col-md-7 img {
  margin: auto;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 375px;
}

@media screen and (min-width: 999px) {
  .col-md-7 img {
    max-width: 90%;
  }
}

@media screen and (min-width: 1399px) {
  .col-md-7 img {
    max-width: 95%;
  }
}

@media screen and (min-width: 999px) {
  .col-md-7 {
    right: 30px;
  }
}

@media screen and (min-width: 1399px) {
  .col-md-7 {
    right: 100px;
  }
}

.col-md-5 {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.col-md-5 h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 400px) {
  .col-md-5 h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.col-md-5 p {
  font-size: 14px;
  text-align: start;
  margin: 0px 0px 15px 7px;
}

@media screen and (min-width: 400px) {
  .col-md-5 p {
    margin: 0px 0px 20px 14px;
  }
}

.col-md-5 a {
  color: #65e2d9;
  font-size: 12px;
  text-align: start;
  margin: 0px 0px 50px 7px;
  text-decoration: underline;
  text-underline-position: under;
}

@media screen and (min-width: 400px) {
  .col-md-5 a {
    margin: 0px 0px 50px 14px;
  }
}

.col-md-5 a:hover {
  color: #ffffff;
}

/************** End Of Description Section  ***************/
/*# sourceMappingURL=style.css.map */